.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px;
  background-color: #17a2b8;
  transition: all 500ms linear;
}

.sidebar:active {
  left: 0;
}

.sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 1rem 0.6rem;
  border-bottom: 1px solid rgba(100, 100, 100, 0.9);
}

.sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

.toggle-btn {
  /* background-color: #17a2b8; */
  width: 3rem;
}

/* .sidebar .toggle-btn span {
  display: block;
  width: 2rem;
  height: 0.4rem;
  background: white;
  margin: 0.2rem 0.5rem;
} */

.menu-wrap .toggler,
.sidebar ul .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

.activa:active {
  color: orange;
}

.menu-wrap .toggler:checked + .hamburger > div,
.sidebar ul .toggler:checked .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after,
.sidebar ul .toggler:checked ~ .hamburger > div:before,
.sidebar ul .toggler:checked ~ .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div,
.sidebar ul .toggler:checked ~ .hamburger > div {
  transform: rotate(225deg);
}
