@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
}

.x-large {
  font-size: 3rem;
}

.italic-text {
  font-style: italic;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

/* ====================== Navbar Section =============== */

.navar {
  display: block;
  text-align: center;
  border-bottom: solid 1px var(--primary-color);
  background-color: var(--dark-color);
}

.fixed-it {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navar a {
  color: #fff;
  padding: 0.25rem;
  margin: 0 0.2rem;
}

.navbar-title {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: none;
  color: #0078ff;
}

.navar-list-container {
}

.navar-nav {
  text-decoration: none;
  list-style: none;
  display: flex;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
}

.navar-nav li a {
  font-size: 1rem;
}

/* ======================= Home Section ========================== */
.home-sect {
  position: relative;
  background-image: url("images/joker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
}

.home-inner {
  color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.sub-heading {
  font-size: 2rem;
}

/* ========================= About Us ====================== */

.inner {
  text-align: center;
}

.center-text {
  text-align: center;
}

.underline {
  width: 10rem;
  height: 0.3rem;
  background-color: #0078ff;
  margin: 0 auto;
}

.box-shadow-full {
  padding: 1rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about-content {
  font-size: 1rem;
}

/* ================ Meet Our Team ======================== */

.flip-card {
  background-color: transparent;
  width: 20rem;
  height: 10rem;
  margin: 1rem auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
}

.flip-card-back {
  display: none;
}

.employee-pic {
  position: absolute;
  left: 1rem;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;
  width: 6.5rem;
  height: 8rem;
}

.employee-name {
  position: absolute;
  left: 3.5rem;
  top: 3rem;
  font-size: 0.5rem;
}

.employee-role {
  position: absolute;
  left: 3.5rem;
  top: 5rem;
  font-size: 0.2rem;
}

.employee-description {
  display: none;
}

.table-container {
  display: flex;
  flex-direction: column;
}

/* ======================== Contact US =================== */

/* Form */

.website-form {
  display: none;
}

#bottomtotop {
  display: none;
}

.form-container {
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1.2rem;
}

.form-control1 {
  position: relative;
  margin-bottom: 0.4rem;
  padding-bottom: 1rem;
}

.form-control1 label {
  display: block;
  margin-bottom: 0.5rem;
  color: #777;
}

.form-control1 input {
  border-radius: 0.7rem;
  border: 0.1rem solid #f0f0f0;
  padding: 0.4rem;
  font-size: 0.8rem;
}

.form-control1 input:focus {
  outline: 0;
  border-color: #777;
}

.form-control1.success input {
  border-color: var(--success-color);
}

.form-control1.error input {
  border-color: var(--error-color);
}

.form-control1 small {
  color: var(--error-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
}

.form-control1.error small {
  visibility: visible;
}

form button {
  width: 100%;
  font-weight: bolder;
  background-color: #3498db;
  cursor: pointer;
  border: 0.4rem solid #3498db;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 1rem;
  padding: 0.2rem;
  margin-top: 1rem;
}

.list-icon {
  list-style: none;
  line-height: 2;
}

.fas {
  display: inline;
  margin-right: 1rem;
}

/* ======================== SERVICES ============================= */
.justify-text {
  text-align: justify;
  text-justify: inter-ideograph;
}

/* ========================= On Going Projects =================== */

.img-size {
  padding: 0.9rem;
}

/* ================== Media Queries For Ipad =====================*/

@media only screen and (min-width: 768px) {
  /* ====================== Navbar Section =============== */

  .navar {
    display: flex;
    text-align: left;
    border-bottom: solid 1px var(--primary-color);
    background-color: var(--dark-color);
  }

  .fixed-it {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navar a {
    color: #fff;
    margin-left: 2rem;
  }

  .navbar-title {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-decoration: none;
    color: #0078ff;
  }

  .navar-list-container {
  }

  .navar-nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    height: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-block-start: 1em;
  margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
  }

  .navar-nav li a {
    font-size: 1rem;
  }

  /* ================ Meet Our Team ======================== */

  .add1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }

  .flip-card {
    background-color: transparent;
    width: 16.875rem; /* 302px */
    height: 25rem; /* 400px */
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #fff;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: #fff;
    color: #000;
    transform: rotateY(180deg);
  }

  .flip-card-back {
    display: block;
  }

  .employee-pic {
    position: relative;
    width: 100%; /* 300px */
    height: 300px;
    left: 0;
    top: 0;
    right: 0;
  }

  .employee-name {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 0;
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }

  .employee-role {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 0rem;
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  .employee-description {
    display: none;
  }

  .table-container {
    display: flex;
    flex-direction: row;
  }

  .tab1 {
    margin-right: 0.9rem;
  }

  /* ================== Contact Us ================================== */
  .mobile-form {
    display: none;
  }

  .website-form {
    display: block;
  }

  .slide-down {
    margin-top: 2rem;
  }

  .slide-left {
    padding-left: 5rem;
    padding-top: 2rem;
  }

  .socials {
    padding: 1.5rem 0;
  }

  .socials ul {
    list-style: none;
    margin-bottom: 0;
  }

  .socials .icon-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 15px 0 0;
    text-align: center;
    box-shadow: 0 0 0 3px #0078ff;
    display: block;
  }

  .socials ul li {
    display: inline-block;
  }

  /* ========================= On Going Projects =================== */

  /* width: 69.4rem; height: 38rem */

  .position-image {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .img-size {
    width: 22rem;
    height: 12rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 0.9rem;
  }

  /*========
 Back-to-top arrow
=======*/

  #bottomtotop {
    display: block;
  }

  .gotopBtn {
    /* display: none; */
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.55;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
  }
}
